.postContainer {
  .banner {
    width: 100%;
    height: 40rem;
  }

  .postContent {
    max-width: 72rem;
    margin: 0 auto;
    margin-top: 8rem;

    h1 {
      font-size: 4.8rem;
      font-weight: bold;
      margin-bottom: 2.4rem;
    }

    h3 {
      font-size: 3.6rem;
      font-weight: bold;
      margin-bottom: 6rem;
    }

    p, li {
      font-size: 1.8rem;
      margin-bottom: 3rem;
      line-height: 2.6rem;
      text-align: justify;
      color: var(--gray-200);
    }

    span {
      display: flex;
      align-items: center;
      margin-bottom: 1.6rem;

      p {
        margin: 0;
        font-size: 1.6rem;
        font-weight: normal;
        margin-left: .8rem;
        color: var(--gray-200);
      }

      .space {
        margin-left: 2.4rem;
      }
    }
  }

}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;

  .prev {
    p {
      text-align: left;
      margin-bottom: .8rem;
    }

    p:last-child {
      font-weight: bold;
      color: var(--pink-500);
    }

    transition: filter .2s;

    &:hover {
      filter: brightness(.5);
    }
  }
  .next {
    p {
      text-align: right;
      margin-bottom: .8rem;
    }
    p:last-child {
      font-weight: bold;
      color: var(--pink-500);
    }

    transition: filter .2s;

    &:hover {
      filter: brightness(.5);
    }
  }
}

.divider {
  margin: 6rem 0  4.8rem 0 ;
  border: .1rem solid var(--gray-200);
  filter: brightness(.2);
}

.editadoEm {
  font-size: 1.4rem !important;
  font-style: italic;
  margin-bottom: 6rem !important;
}

.previewContainer {
  width: 100%;
  height: 5.8rem;
  margin-bottom: 8rem;
  border-radius: .4rem;
  background-color: var(--white);

  a {
    height:100%;
    display: flex;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--black);
    margin-top: 8.8rem;
    align-items: center;
    justify-content: center;
  }
}
